*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
.page {
  height: 100%;
}

.page {
  margin: 0 auto;
  padding: 0;
  background: url('../img/bg-mobile.svg') no-repeat;
  background-size: 100%;
  background-color: rgb(103, 75, 175);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  min-width: 375px;
}

.container {
  margin: 0 auto;
  width: 81%;
}

.title,
.copy {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  width: 100%;
}

/* start heading  */

.page__header .container {
  margin-top: 32px;
}

.illustration--hero {
  width: 100%;
  margin: 0;
}

.link--logo .logo {
  width: 125px;
}

/* end heading  */

/* start main  */

.page__content .container {
  margin-top: 55px;
  color: rgb(255, 255, 255);
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 54px;
  letter-spacing: .4px;
}

.hero__copy {
  line-height: 1.47;
  margin-top: 15px;
}

.hero--btn {
  color: rgb(103, 75, 175);
  background-color: lightgray;
  border-radius: 50px;
  align-self: center;
  font-size: .8em;
  padding: 11px 76px;
  margin-top: 25px;
  box-shadow: 0px 5px 5px 2px rgba(0,0,0,.2);
}

/* end main  */

/* start footer */

.page__footer .container {
  margin-top: 64px;
}

.menu--social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu--social .menu__item:nth-child(2) {
  margin: 0 10px;
}

.social__img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 5px;
  filter: invert(1);
  border: 1px solid rgb(0, 0, 0);
}

.menu__link:hover .social__img {
  filter: invert(1) brightness(.5) sepia(1) hue-rotate(30deg) brightness(.95) saturate(1000%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgb(193, 196, 174);
}

/* end footer */

@media only screen and (min-width:500px) {
  .hero__title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 44px;
    letter-spacing: -.4px;
  }

  .hero__copy {
    margin-top: 20px;
    line-height: 1.67;
    letter-spacing: 1px;
  }

  .hero--btn {
    align-self: center;
    font-size: 1.3em;
    padding: 14px 60px;
    margin-top: 23px;


  }
}

@media only screen and (min-width:1000px) {
  .page {
    background: url('../img/bg-desktop.svg') no-repeat;
    background-size: cover;
    background-color: rgb(103, 75, 175);
    max-width: 1440px;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 90%;
  }

  /* start header  */
.page__header {
  flex: 0 1 24%;
}
  .page__header .container {
    margin-top: 53px;
  }

  .link--logo .logo {
    width: 213px;
  }

  /* end header  */

  /* start content  */
  .page__content {
    flex: 1 0 auto;
  }

  .page__content .container {
    display: flex;
    margin-top: 0px;
  }

  .illustration--hero {
    flex: 0 1 55%;
  }

  .hero {
    flex: 0 1 40%;
    text-align: left;
    margin-left: 51px;
  }

  .hero__title {
    font-size: 2.5em;
  }

  .hero--btn {
    align-self: flex-start;
    font-size: 1.3em;
    padding: 12px 65px;
    margin-top: 23px;


  }

  /* end content  */

  /* start footer  */
  .page__footer {
    flex-shrink: 0;
  }

  .page__footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89%;
  }

  .menu--social {
align-self: flex-end; 
margin-top: -130px;   
  }

  .social__img {
    width: 40px;
    height: 40px;
  }

  .menu--social .menu__item:nth-child(2) {
    margin: 0 15px;
  }

  /* end footer  */

}